 <div class="row ">

    <div class="col-sm-6 col-md-5 leftContent">
        <div class="leftContentBg" style="height: 912px; top: 0px;"></div>

        <figure>
            <img src="/images/burj_vector.png" class="img-responsive center-block">
            
            <div class="component-nav left thelounge">
                <a href="javascript:void(0)" onclick="component_show('thelounge')">
                    <span class="absCenter">THE LOUNGE<br>BURJ KHALIFA</span>
                </a>
            </div>
            
            <div class="component-nav right atthetopsky active">
                <a href="javascript:void(0)" onclick="component_show('atthetopsky')">
                    <span class="absCenter">AT THE TOP<br>BURJ KHALIFA SKY</span>
                </a>
            </div>

            <div class="component-nav left corporatesuites">
                <a href="javascript:void(0)" onclick="component_show('corporatesuites')">
                    <span class="absCenter">CORPORATE SUITES</span>
                </a>
            </div>

            <div class="component-nav right atthetop">
                <a href="javascript:void(0)" onclick="component_show('atthetop')">
                    <span class="absCenter">AT THE TOP<br>BURJ KHALIFA</span>
                </a>
            </div>

            <div class="component-nav left atmosphere">
                <a href="javascript:void(0)" onclick="component_show('atmosphere')">
                    <span class="absCenter">AT.MOSPHERE</span>
                </a>
            </div>

            <div class="component-nav right residences">
                <a href="javascript:void(0)" onclick="component_show('residences')">
                    <span class="absCenter">THE RESIDENCES</span>
                </a>
            </div>

            <div class="component-nav left armanihotel1">
                <a href="javascript:void(0)" onclick="component_show('armanihotel1')">
                    <span class="absCenter">ARMANI HOTEL DUBAI</span>
                </a>
            </div>

            <div class="component-nav left armaniresidences">
                <a href="javascript:void(0)" onclick="component_show('armaniresidences')">
                    <span class="absCenter">ARMANI RESIDENCES</span>
                </a>
            </div>

            <div class="component-nav right armanihotel2">
                <a href="javascript:void(0)" onclick="component_show('armanihotel2')">
                    <span class="absCenter">ARMANI HOTEL DUBAI</span>
                </a>
            </div>
        </figure>

    </div>

 </div>